<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.skreppis.skreppis">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FindRideActivity"
            android:label="@string/title_activity_findride" />
        <activity
            android:name=".FindPassengerActivity"
            android:label="@string/title_activity_findpassenger" />
        <activity
            android:name=".ManageProfileActivity"
            android:label="@string/title_activity_manageprofile" />
        <activity
            android:name=".RideHistoryActivity"
            android:label="@string/title_activity_ridehistory" />
        <activity
            android:name=".AboutWindowActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/Theme.AppCompat.popupTheme" />
        <activity
            android:name=".ChangePasswordActivity"
            android:label="@string/title_activity_manageprofile"
            android:theme="@style/Theme.AppCompat.popupTheme" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".PostRideRequestActivity"
            android:label="@string/title_activity_findride" />
        <activity android:name=".SearchDriverCriteriaActivity" />
        <activity android:name=".SearchPassengerCriteriaActivity"></activity>
    </application>

</manifest>